<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DesktopPetActionValidation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DesktopPetCustomPetValidation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DesktopPetInteractiveValidation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DesktopPetModule1Validation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>DesktopPetModule5Validation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>DesktopPetPetdexValidation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>DesktopPetReleaseValidation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>DesktopPetScopeValidation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>DesktopPetUnitTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>DesktopPetValidation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>MofuPaw-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MofuPaw.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DesktopPetActionValidation</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DesktopPetCustomPetValidation</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DesktopPetInteractiveValidation</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DesktopPetModule1Validation</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DesktopPetModule5Validation</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DesktopPetPetdexValidation</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DesktopPetReleaseValidation</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DesktopPetScopeValidation</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DesktopPetUnitTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DesktopPetValidation</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MofuPaw</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
